h1
  {
    color: #4BB0C5;
    font-size: 50px;
    text-align: center;
  }
h2
  {
    color:#6FA8DC;
    font-size: 40px;
    text-align: center;
  }
h3
  {
    color:#DCAA09;
    font-style: italic;
    text-align: center;
  }
body
  {
    background-color:#215B73;
    font-family: Helvetica, sans-serif;
  }
p
  {
    font-size: 25px;
  }
ul
  {
    text-align: left;
    line-height: 40px;
    font-size: 30px;
  }
.center
  {
    display: block;
    margin-left:auto;
    margin-right: auto;
  }
