h1
  {
    color: #4BB0C5;
    font-size: 50px;
  }
h2
  {
    color:#6FA8DC;
    font-size: 40px;
  }
h3
  {
    color:#DCAA09;
    font-style: italic;
  }
body
  {
    background-color:#215B73;
    font-family: Helvetica, sans-serif;
    text-align: center
  }
