h1
  {
    color: #4BB0C5;
    font-size: 50px;
  }
h2
  {
    color: #4BB0C5;
    font-size: 40px;
  }
h3
  {
    color: #EDDC07;
    font-style: italic;
  }
body
  {
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color: #215B73;
  }
p
  {
    font-size: 30px;
  }
